header{
    .toolTip{
        margin: 0rem 1rem;
        cursor:pointer;
    }
    .userActions{
        display: flex;
        margin-left: auto;
        >div{
            cursor:pointer;
            margin: 0rem .25rem;
        }
    }
}