.loginPage {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__card {
    max-height: 335px;
    &__form {
      form {
        display: flex;
        flex-wrap: wrap;
        >div {
          width: 100%;
        }
        .buttonWrapper{
          display:flex;
          justify-content: space-between;
          button {
            margin: 0rem .25rem;
            &:disabled {
              border: none;
              cursor: auto;
              &:hover {
                background-color: initial;
                color: graytext;
              }
            }
          }
        }
      }
    }
  }
}
