//Variables
//Main Colors
$color-white: #fff;
$brand-main: #1daaaa;
$brand-main-light: rgba(83, 189, 189, 0.4392156862745098);
$brand-main-dark: rgb(68, 160, 160);
$header-background: #3c3c3c;

//Fonts
$font-color-black: #292929;
$font-color-white: #efefef;

//Elements
$element-shadow-bottom: #8a8383;
$element-box-shadow: 0px 2px 2px $element-shadow-bottom;
